video {
  display: none;
}

canvas {
  display: block;
  max-width: 100%;
}

button {
  min-width: 10rem;
  min-height: 2rem;
}

.colorTip {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid black;
}
